body {
    background-color: #e5f1e3;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: #a3cd9e;
    height: 0;
    width: 47%;
}

h1 {
   color: #35635b;
}

h3 {
    color: #529471;
}